{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    {% if count_db < count_insert %} 
        <h2 class="text-danger text-uppercase mb-5">Base de dados desatualizada!</h2>
        <p class="bg-danger text-light">{{ count_insert - count_db }} novo(s) currículo(s) para processar.</p>
        <p>Total de currículos processados no banco de dados: {{ count_db }}</p>

        <p class="font-italic">Clique no botão abaixo para processar novos curriculos e adicionar ao banco de dados.</p>
        <button id="processar-btn" class="btn btn-warning text-uppercase">Processar Novos Dados</button>

        
        <div id="spinner" style="display:none;" class="spinner-border mx-auto" role="status">
        </div>

    {% else %}
        <h2 class="text-success text-uppercase mb-5">Base de dados atualizada!</h2>
        <p>Base de Dados Atualizada. Nada para processar!</p>
        <p>Total de currículos processados: {{ count_db }}</p>
    {% endif %}

</div>

<!-- Modal -->
<div class="modal fade" id="statusModal" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="statusModalLabel">Status da Atualização</h5>
            </div>
            <div class="modal-body" id="status-messages"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='atualizar_db.js') }}"></script>
{% endblock %}